@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

$light-dark: #222222;
$dark: #080808;
$white: #ffffff;

@mixin flex-box($dir: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.App {
  width: 100vw;
  background-color: $light-dark;
  color: $white;
}

.nav-bar {
  width: 10rem;
  height: 100vh;
  background-color: $dark;
  @include flex-box(column);
  list-style: none;
  position: fixed;
  top: 0px;

  li {
    height: 8rem;
    width: 100%;

    .nav-link {
      text-decoration: none;
      color: rgba($white, 0.5);
      height: 100%;
      @include flex-box(column);

      &:visited {
        color: inherit;
      }

      .icon {
        font-size: 2.5rem;
        margin-bottom: 0.1rem;
      }

      .icon.about {
        margin-bottom: 0.2rem;
      }

      span {
        font-weight: 800;
      }
    }

    .active {
      background-color: $light-dark;
      color: $white;
    }
  }
}

section {
  padding-left: 10rem;
  height: 100vh;
}

.home-container {
  @include flex-box();

  .home-msg {
    text-align: right;

    h1 {
      font-size: 3.3rem;
    }

    h2 {
      font-size: 2.2rem;
    }

    div {
      margin-top: 1.9rem;

      .button {
        padding: 0.5rem 0.8rem;
        margin-left: 1.5rem;
        font-weight: 800;
        color: inherit;
        border-radius: 1.5rem;
        border: solid 2px $white;
        text-decoration: none;
        transition: background-color 0.5s, color 0.5s;

        &:visited {
          color: inherit;
        }

        &:hover {
          background-color: $white;
          color: $dark;
        }
      }
    }
  }

  img {
    width: 25rem;
    border-radius: 50%;
    margin-left: 5rem;
  }
}

.about-container {
  @include flex-box(column);

  .aboutme {
    width: 60%;
    margin-bottom: 3rem;

    h1 {
      font-size: 2.7rem;
      margin-bottom: 2rem;
    }
  }

  .skills {
    width: 60%;

    h2 {
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
    }

    div span {
      display: inline-block;
      background-color: rgb(228, 228, 228);
      color: $dark;
      font-weight: 800;
      padding: 0.4rem;
      border-radius: 0.7rem;
      margin-right: 0.5rem;
      margin-bottom: 0.6rem;
    }
  }
}
