@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

$light-blue: #2e3e59;
$dark-blue: #182946;
$white-purple: #bec1df;

@mixin flex-box($dir: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.App {
  width: 100vw;
  background-color: $light-blue;
  color: $white-purple;
}

.nav-bar {
  width: 10em;
  height: 100vh;
  background-color: $dark-blue;
  @include flex-box(column);
  list-style: none;
  position: fixed;
  top: 0px;

  li {
    height: 8em;
    width: 100%;

    .nav-link {
      text-decoration: none;
      color: rgba($white-purple, 0.5);
      height: 100%;
      @include flex-box(column);

      &:visited {
        color: inherit;
      }

      .icon {
        font-size: 2.5em;
        margin-bottom: 0.1em;
      }

      .icon.about {
        margin-bottom: 0.2em;
      }

      span {
        font-weight: 800;
      }
    }

    .active {
      background-color: $light-blue;
      color: $white-purple;
    }
  }
}

section {
  padding-left: 10em;
  height: 100vh;
}

.home-container {
  @include flex-box();

  .home-msg {
    text-align: right;

    h1 {
      font-size: 3.3em;
    }

    h2 {
      font-size: 2.2em;
    }

    div {
      margin-top: 1.9em;

      .button {
        padding: 0.5em 0.8em;
        margin-left: 1.5em;
        font-weight: 800;
        color: inherit;
        border-radius: 1.5em;
        border: solid 2px $white-purple;
        text-decoration: none;
        transition: background-color 0.5s, color 0.5s;

        &:visited {
          color: inherit;
        }

        &:hover {
          background-color: $white-purple;
          color: $dark-blue;
        }
      }
    }
  }

  img {
    width: 25em;
    border-radius: 50%;
    margin-left: 5em;
  }
}
