@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.App {
  width: 100vw;
  background-color: #222222;
  color: #ffffff;
}

.nav-bar {
  width: 10rem;
  height: 100vh;
  background-color: #080808;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: fixed;
  top: 0px;
}

.nav-bar li {
  height: 8rem;
  width: 100%;
}

.nav-bar li .nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar li .nav-link:visited {
  color: inherit;
}

.nav-bar li .nav-link .icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.nav-bar li .nav-link .icon.about {
  margin-bottom: 0.7rem;
}

.nav-bar li .nav-link span {
  font-weight: 800;
  font-size: 0.95rem;
}

.nav-bar li .active {
  background-color: #222222;
  color: #ffffff;
}

section {
  padding-left: 10rem;
  height: 100vh;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .home-msg {
  text-align: right;
}

.home-container .home-msg h1 {
  font-size: 3rem;
}

.home-container .home-msg h2 {
  font-size: 1.6rem;
}

.home-container .home-msg h3 {
  font-size: 1.3rem;
}

.home-container .home-msg div {
  margin-top: 1.5rem;
}

.home-container .home-msg div .button {
  padding: 0.4rem 0.7rem;
  margin-left: 1rem;
  font-weight: 800;
  font-size: 0.9rem;
  color: inherit;
  border-radius: 1.5rem;
  border: solid 2px #ffffff;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.home-container .home-msg div .button:visited {
  color: inherit;
}

.home-container .home-msg div .button:hover {
  background-color: #ffffff;
  color: #080808;
}

.home-container img {
  width: 25rem;
  border-radius: 50%;
  margin-left: 5rem;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .aboutme {
  width: 60%;
  margin-bottom: 3rem;
}

.about-container .aboutme h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.about-container .skills {
  width: 60%;
}

.about-container .skills h2 {
  margin-bottom: 1.5rem;
}

.about-container .skills ul li {
  display: inline-block;
  background-color: #e4e4e4;
  color: #080808;
  font-weight: 800;
  font-size: 0.9rem;
  padding: 0.4rem;
  border-radius: 0.7rem;
  margin-right: 0.5rem;
  margin-bottom: 0.6rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container h1 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.contact-container .contact-form {
  position: relative;
  width: 35rem;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}

.contact-container .contact-form a {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
}

.contact-container .contact-form a:visited {
  color: inherit;
}

.contact-container .contact-form .input, .contact-container .contact-form textarea {
  background-color: transparent;
  width: 60%;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 0.8rem;
  padding: 0.5rem 0.8rem;
  outline: none;
}

.contact-container .contact-form .input:focus, .contact-container .contact-form textarea:focus {
  border-bottom: 1px solid #ffffff;
}

.contact-container .contact-form textarea {
  height: 7em;
  margin-bottom: 2rem;
}

.contact-container .contact-form .btn {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.contact-container .contact-form .btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.footer {
  padding-left: 10rem;
  height: 3.5rem;
  background-color: #080808;
}

.mode {
  position: fixed;
  right: 0.6rem;
  bottom: 0.6rem;
  font-size: 2.3rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.mode:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=App.css.map */