@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

$light-dark: #222222;
$strong-dark: #080808;
$white: #f0f0f0;
$dark-white: rgb(219, 219, 219);

:root {
  --main-bg: #{$light-dark};
  --nav-bg: #{$strong-dark};
  --font-color: #{$white};
  --proj-font-color: #{$white};
  --proj-btn-hover: #{$strong-dark};
  --footer-bg: #{rgba($strong-dark, 0.3)};
}

.light {
  --main-bg: #{$white};
  --nav-bg: #{$dark-white};
  --font-color: #{$strong-dark};
  --footer-bg: #{rgba($dark-white, 0.45)};
}

@mixin flex-box($dir: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  transition: all 0.1s ease;
}

.App {
  width: 100vw;
  background-color: var(--main-bg);
  color: var(--font-color);
}

//Nav Bar
.nav-bar {
  width: 10rem;
  height: 100vh;
  background-color: var(--nav-bg);
  @include flex-box(column);
  list-style: none;
  position: fixed;
  top: 0px;

  li {
    height: 8rem;
    width: 100%;

    .nav__link {
      text-decoration: none;
      height: 100%;
      @include flex-box(column);
      color: inherit;

      &:visited {
        color: inherit;
      }

      .icon {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
      }

      .icon.about {
        margin-bottom: 0.7rem;
      }

      span {
        font-size: 0.95rem;
      }
    }

    .nav--active {
      background-color: var(--main-bg);
      color: var(--font-color);
    }
  }
}

section {
  padding-left: 10rem;
  height: 100vh;
}

// Home
.home-container {
  @include flex-box();

  .home-text {
    text-align: right;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    div {
      margin-top: 1.5rem;

      .home__button {
        padding: 0.4rem 0.7rem;
        margin-left: 1rem;
        font-size: 0.9rem;
        color: inherit;
        border-radius: 1.5rem;
        border: solid 2px var(--font-color);
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.5s, color 0.5s;

        &:visited {
          color: inherit;
        }

        &:hover {
          background-color: var(--font-color);
          color: var(--nav-bg);
        }
      }
    }
  }

  .home__img {
    width: 25rem;
    border-radius: 50%;
    margin-left: 5rem;
  }
}

// About
.about-container {
  @include flex-box(column);

  .about-me {
    width: 60%;
    margin-bottom: 3rem;

    h1 {
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
  }

  .about-skills {
    width: 60%;

    h2 {
      margin-bottom: 1.5rem;
    }

    ul li {
      display: inline-block;
      background-color: var(--font-color);
      color: var(--nav-bg);
      font-size: 0.95rem;
      padding: 0.4rem;
      border-radius: 0.7rem;
      margin-right: 0.5rem;
      margin-bottom: 0.6rem;
    }
  }
}

// Projects
.projects-container {
  height: 100%;

  h1 {
    text-align: center;
    font-size: 2.2rem;
    padding-top: 3rem;
  }
  .projects-grid {
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    grid-gap: 2rem 4.5rem;
    justify-content: center;

    .projects__project {
      .project__preview {
        position: relative;
        color: var(--proj-font-color);

        img {
          width: 27rem;
          height: 17rem;
          border-radius: 1.5rem;
        }

        .project__preview--hover {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: none;

          .project__description {
            width: 70%;
            text-align: center;
            margin-bottom: 1.6rem;
          }

          a {
            display: inline-block;
            text-decoration: none;
            border: 2px solid var(--proj-font-color);
            border-radius: 1.5rem;
            width: 4.3rem;
            padding: 0.3rem 0;
            text-align: center;
            font-size: 0.9rem;
            margin: 0 0.4rem;
            transition: background-color 0.5s, color 0.5s;
            color: inherit;

            &:visited {
              color: inherit;
            }

            &:hover {
              background-color: var(--proj-font-color);
              color: var(--proj-btn-hover);
            }
          }
        }

        &:hover {
          img {
            transition: 0.2s;
            filter: brightness(25%);
          }

          .project__preview--hover {
            @include flex-box(column);
          }
        }
      }

      .project__name {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        text-align: center;
      }
    }
  }

  .projects-additional {
    text-align: center;
  }

  .additional__links {
    @extend .projects-additional;
    font-size: 2.5rem;

    a {
      color: inherit;
      display: inline-block;
      margin: 1rem 0.6rem 3rem 0.6rem;
    }

    a:hover {
      transform: scale(1.2);
    }

    a:visited {
      color: inherit;
    }
  }
}

// Contact
.contact-container {
  @include flex-box(column);

  h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    width: 35rem;
  }

  .contact-form {
    width: 35rem;
    height: 30rem;
    @include flex-box(column);
    background-color: var(--nav-bg);
    border-radius: 2rem;

    .input {
      background-color: transparent;
      width: 65%;
      color: var(--font-color);
      border: none;
      border-bottom: 1px solid var(--font-color);
      margin-bottom: 0.8rem;
      padding: 0.5rem 0.8rem;
      outline: none;
      font-size: 1rem;

      &:focus {
        border-bottom: 2px solid var(--font-color);
      }
    }

    textarea {
      @extend .input;
      height: 7em;
      margin-bottom: 1.8rem;
    }

    .form__btn {
      background-color: transparent;
      border: 2px solid var(--font-color);
      border-radius: 1.5rem;
      color: inherit;
      font-size: 0.8rem;
      padding: 0.5rem;
      transition: background-color 0.5s, color 0.5s;
      cursor: pointer;

      &:hover {
        background-color: var(--font-color);
        color: var(--nav-bg);
      }
    }
  }
}

// Footer
footer {
  padding: 0 10rem 0 20rem;
  height: 3.5rem;
  font-size: 0.8rem;
  @include flex-box();
  background-color: var(--footer-bg);
}

// Theme
.theme {
  position: fixed;
  right: 0.9rem;
  top: 0.9rem;
  font-size: 1.9rem;

  &:hover {
    cursor: pointer;
  }
}

// Hamburger
.hamburger {
  position: fixed;
  right: 1.2rem;
  top: 0.8rem;
  display: none;

  span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--font-color);
  }
}

// Responsive
@media screen and (max-width: 1224px) {
  .projects-container {
    .projects-grid {
      grid-template-columns: repeat(auto-fit, 25rem);
      grid-gap: 1.3rem 3.5rem;

      .projects__project {
        .project__preview {
          img {
            width: 25rem;
            height: 15.5rem;
          }
        }
        .project__name {
          font-size: 1.15rem;
          padding-top: 0.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1145px) {
  .home-container {
    .home__img {
      width: 23rem;
      border-radius: 50%;
      margin-left: 3.5rem;
    }
  }

  .projects-container {
    .projects-grid {
      grid-template-columns: repeat(auto-fit, 22rem);
      grid-gap: 1rem 3rem;

      .projects__project {
        .project__preview {
          img {
            width: 22rem;
            height: 14rem;
          }
        }
        .project__name {
          font-size: 1.1rem;
          padding-top: 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .home-container {
    .home__img {
      width: 21rem;
      border-radius: 50%;
      margin-left: 3rem;
    }
  }

  .projects-container {
    .projects-grid {
      grid-template-columns: repeat(auto-fit, 29rem);
      grid-gap: 1.6rem;

      .projects__project {
        .project__preview {
          img {
            width: 29rem;
            height: 18rem;
          }
        }
        .project__name {
          font-size: 1.2rem;
          padding-top: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) and (orientation: portrait) {
  .home-container {
    @include flex-box(column-reverse);

    .home-text {
      text-align: center;

      div {
        .home__button {
          margin: 0 0.5rem;
        }
      }
    }

    .home__img {
      margin: 0 0 4rem 0;
      width: 25rem;
    }
  }
}

@media screen and (max-width: 930px) {
  .home-container {
    @include flex-box(column-reverse);

    .home-text {
      text-align: center;

      div {
        .home__button {
          margin: 0 0.5rem;
        }
      }
    }

    .home__img {
      margin: 0 0 2rem 0;
      width: 20rem;
    }
  }

  .projects-additional {
    font-size: 1.4rem;
  }

  .additional__links {
    a {
      font-size: 2.2rem;
    }
  }

  .contact-container {
    h1,
    .contact-form {
      width: 80%;
    }
  }
}

@media screen and (max-width: 750px) {
  .theme {
    left: 0.9rem;
    z-index: 10;
    width: 2rem;
  }

  .hamburger {
    display: block;
    z-index: 10;

    &:hover {
      cursor: pointer;
    }
  }

  .hamburger.active {
    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .nav-bar {
    right: -10rem;
    z-index: 5;
    transition: 0.3s;
  }

  .nav-bar.active {
    right: 0;
  }

  section {
    padding: 0;
  }

  footer {
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .home-container {
    .home-text {
      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.3rem;
      }

      h3 {
        font-size: 1.05rem;
      }

      div {
        margin-top: 1.2rem;

        .home__button {
          margin: 0 0.3rem;
          padding: 0.3rem 0.6rem;
          font-size: 0.8rem;
        }
      }
    }

    .home__img {
      margin: 0 0 2rem 0;
      width: 16rem;
    }
  }

  .about-container {
    .about-me {
      width: 80%;

      h1 {
        font-size: 2rem;
        margin-bottom: 1.8rem;
      }

      div {
        font-size: 0.95rem;
      }
    }

    .about-skills {
      width: 80%;

      h2 {
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
      }

      ul li {
        font-size: 0.9rem;
        padding: 0.3rem;
        margin-right: 0.4rem;
      }
    }
  }

  .projects-container {
    h1 {
      font-size: 2rem;
    }

    .projects-grid {
      grid-template-columns: 85vw;
      padding: 2.2rem 0;

      .projects__project {
        .project__preview {
          img {
            width: 85vw;
            height: 53vw;
          }
        }
      }
    }

    .projects-additional {
      font-size: 1.2rem;
      padding: 0 1.5rem;
    }
  }

  .contact-container {
    h1 {
      font-size: 2rem;
    }

    .contact-form {
      .input {
        width: 77%;
        margin-bottom: 0.5rem;
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
      }

      textarea {
        height: 9em;
        margin-bottom: 1.6rem;
      }

      .form__btn {
        font-size: 0.75rem;
        padding: 0.4rem;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .projects-container {
    .projects-grid {
      .projects__project {
        .project__preview {
          .project__preview--hover {
            .project__description {
              width: 80%;
              font-size: 85%;
              margin-bottom: 1rem;
            }

            a {
              width: 3rem;
              padding: 0.2rem 0;
              font-size: 0.7rem;
              margin: 0 0.3rem;
            }
          }
        }

        .project__name {
          font-size: 1.1rem;
          padding-top: 0.3rem;
        }
      }
    }

    .projects-additional {
      font-size: 1.1rem;
    }

    .additional__links {
      a {
        font-size: 2rem;
      }
    }
  }

  .contact-container {
    .contact-form {
      .input {
        margin-bottom: 0.4rem;
        padding: 0.3rem 0.5rem;
        font-size: 0.85rem;
      }

      textarea {
        height: 10em;
        margin-bottom: 1.6rem;
      }
    }
  }
}
